html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background: url('Fon-001.jpg') no-repeat center center fixed;  Прибираємо фон */
  /* background-size: cover; */
  font-family: Arial, sans-serif;
  /* color: white;  Прибираємо колір тексту, щоб задати його в .content */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
/*  max-width: 1080px; /* Додано для обмеження ширини контенту на великих екранах */
}

.header {
    position: fixed;
    top: 0;
    width: 100%; /* Змінити */
    max-width: 1080px; /* Додати */
    margin: 0 auto; /* Додати */
    z-index: 1000;
}

.header img {
  width: 100%; /* Змінено: зображення займає всю ширину */
  height: 300px; /* auto;  Змінено: автоматична висота, щоб зберегти пропорції */
  display: block; /* Щоб прибрати пробіли під зображенням */
}

.content {
  /* background-color: rgba(0, 0, 0, 0.5);  Прибираємо підложку */
  padding-top: 320px; /* Висота .header + додатковий простір */
  margin-top: 320px; /* Висота .header */
  padding: 20px 40px;
  border-radius: 12px;
  color: rgb(30, 34, 67); /* Задаємо колір тексту */
  position: fixed; /* relative; /* Щоб контент був над шапкою */
  max-width: 1080px; 
  z-index: 1; /* Щоб контент був над шапкою */
}

.content h1 {
  margin: 0 0 10px;
  font-size: 2em;
}

.content p {
  margin: 5px 0;
  font-size: 2.2em;
}

.content a {
  color: rgb(30, 34, 67); /* Задаємо колір посилань */
}